@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 44% 92%;
    --foreground: 224 71% 10%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 10%;
    --primary: 190 35% 44%;
    --primary-foreground: 210 40% 98%;
    --secondary: 190 25% 75%;
    --secondary-foreground: 224 71% 10%;
    --muted: 195 30% 88%;
    --muted-foreground: 224 71% 25%;
    --accent: 256 20% 87%;
    --accent-foreground: 224 71% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 20% 80%;
    --input: 0 0% 100%;
    --ring: 190 35% 44%;
    --chart-1: 190 35% 44%;
    --chart-2: 190 45% 64%;
    --chart-3: 190 55% 84%;
    --chart-4: 256 20% 77%;
    --chart-5: 256 20% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 195 20% 90%;
    --card: 222 47% 15%;
    --card-foreground: 195 20% 90%;
    --popover: 222 47% 11%;
    --popover-foreground: 195 20% 90%;
    --primary: 190 35% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 25%;
    --secondary-foreground: 195 20% 90%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 256 20% 40%;
    --accent-foreground: 195 20% 90%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 195 20% 90%;
    --border: 222 47% 20%;
    --input: 222 47% 20%;
    --ring: 190 35% 60%;
    --chart-1: 190 35% 60%;
    --chart-2: 190 45% 50%;
    --chart-3: 190 55% 40%;
    --chart-4: 256 20% 50%;
    --chart-5: 256 20% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-area, .printable-area * {
    visibility: visible;
  }
  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  .no-print {
    display: none;
  }
  @page {
    size: auto;
    margin: 0.5in;
  }
  .card, .card-header, .card-content, .card-footer {
    border: none !important;
    box-shadow: none !important;
  }
}
